.gs-current-scenario-cont{
    
}
.gs-current-scenario-cont div.col{
   border:1px solid #cfcfcf;
   background:#fff;
}
.gs-base-scenario-cont{
   
}
.gs-base-scenario-cont div.col{
   border:1px solid #cfcfcf;
    background:#e4e5e7;
}
